In [1]:
import pandas as pd
import os

pd.read_csv('train.csv')

,path,participant_id,sequence_id,sign
0,train_landmark_files/26734/1000035562.parquet,26734,1000035562,blow
1,train_landmark_files/28656/1000106739.parquet,28656,1000106739,wait
2,train_landmark_files/16069/100015657.parquet,16069,100015657,cloud
3,train_landmark_files/25571/1000210073.parquet,25571,1000210073,bird
4,train_landmark_files/62590/1000240708.parquet,62590,1000240708,owie
...,...,...,...,...
94472,train_landmark_files/53618/999786174.parquet,53618,999786174,white
94473,train_landmark_files/26734/999799849.parquet,26734,999799849,have
94474,train_landmark_files/25571/999833418.parquet,25571,999833418,flower
94475,train_landmark_files/29302/999895257.parquet,29302,999895257,room
94476,train_landmark_files/36257/999962374.parquet,36257,999962374,happy

In [22]:
from pyspark.pandas import *

In [19]:
data= pyspark.pandas.read_parquet('/Users/jp/Documents/Data_science_projects/asl-signs/asl_signs/635217.parquet')
new_psdf = data.reset_index(drop=True)

In [20]:
new_psdf

In [25]:
pyspark.pandas.sql(
    "SELECT * FROM {new_psdf} LIMIT 10", new_psdf=new_psdf)

   frame     row_id  type  landmark_index         x         y         z
0     22  22-face-0  face               0  0.438251  0.449453 -0.047826
1     22  22-face-1  face               1  0.414527  0.404880 -0.071994
2     22  22-face-2  face               2  0.423745  0.420681 -0.042145
3     22  22-face-3  face               3  0.402349  0.372041 -0.043906
4     22  22-face-4  face               4  0.411857  0.393013 -0.074747
5     22  22-face-5  face               5  0.411587  0.379338 -0.066945
6     22  22-face-6  face               6  0.413674  0.347887 -0.023787
7     22  22-face-7  face               7  0.340341  0.361587  0.056791
8     22  22-face-8  face               8  0.411991  0.323421 -0.009492
9     22  22-face-9  face               9  0.409135  0.308535 -0.008692